body{
    background-image:url("https://picsum.photos/1500/700");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    align-content: center;
    color:#ffff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.main{
    position: absolute;
    margin: 0 38%;
    border-radius:3px;
    width:300px;
    top:150px;
    background-color: rgba(0,0,0,0.7);
    box-shadow: 8px 6px 16px 0px #313131;
    padding-top:25px;
    padding-right:20px;
    padding:30px;
}
p{
    text-align: left;
}
#input{
    border:none;
    background-color: transparent;
    border-bottom: 2px solid white;
    width: inherit;
    color:#ffff;
}
#input:focus{
    outline:none;
}
#login{
    margin: 20px 50;
    background-color: red;
    border: none;
    border-radius: 5px;
    block-size: 30px;
    min-width: 203px;
}
#pic{
    position: absolute;
    border:1px solid black;
    width:70px;
    height:70px;
    border-radius:50%;
    overflow:hidden;
    left: calc(50% - 40px);
    top:-40px;

}
h1{
    text-align: center;
    font-size: 1.5em;
}
h3{
    font-size:0.9em;
}